@{ 
    Layout = null;
}
<html>
<head>
    <title>FPT Internal Training System</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="~/Content/sb-admin-2.css" rel="stylesheet">
    <!-- Custom Fonts -->
    <link href="~/Content/font-awesome.min.css" rel="stylesheet" type="text/css">
</head>
<body>
    <div class="jumbotron">
        <h1>FPT Internal Training System-Thanh Huong</h1>
        <h2>This system to manage all the information of the Staff in the course. This project is developed by Thanh Huong.</h2>
        <h3>Contact me: huongdttgcs190218@fpt.edu.vn</h3>
        <a href="@Url.Action("Index", "Student")" class="btn btn-danger btn-lg" style="text-align:center;">Log in</a>
    </div>
</body>
</html>

